:root {
    --theme-color: #0866ff;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

/* layout */
body {
    background-color: #F1F4FB;
    font-family: 'Roboto', sans-serif;
}

.main,
footer {
    text-align: center;
}

.language {
    font-size: 0.6em;
    margin: 15px 0px;
}

.logo {
    font-size: 3.5em;
    color: var(--theme-color);
    margin: 1em;
}

.facebook-container {
    display: none;
}

.login {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin:auto;
    justify-content: start;
    gap: 1em;
}

.login input[type = text], .login input[type = password] {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

form input[type = submit]{
    background-color: var(--theme-color);
    color: white;
    padding: 0.9em;
    border-radius: 3em;
    border: none;
}

.forgot-pass{
    margin: 10px;
}

.forgot-pass a {
    color: black;
}

.create-new-acc {
    margin-top: 5em;
    padding: 0.8em;
    border-radius: 3em;
    border: 1px solid var(--theme-color);
    background-color: white;
    width: 90%;
}

.compainy-name {
    margin: 15px;
}

.contact a {
    margin: 3px;
    font-size: 0.8em;
    color: black;
}